body{
    color: #383737;
}

nav{
    text-align: right;
    margin: 15px;
}

nav a{
    margin-right: 1em;
}

/* Quando o mouse está em cima */
nav a:hover{
    color: red;
}

header img {
    width: 100%;
}

.topicos{
    text-align: center;
    margin: 2.5em;
}

.topicos li{
    display: inline-block; 
    margin-right: 1em; 
}

.topicos p{
    top: 7px;
    position: relative;
}

.topicos button{
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.hr-center{
    width: 50%;
    margin-bottom: 2em;
    margin-top: 2em;
}

.lista li{
    display: inline-block;
    margin: 1em;
}

.lista li img{
    border-radius: 5px;
}

.lista p{
    font-size: 1.5em;
    margin-top: 0.5em;
    font-weight: 500;
}

.lista hr{
    width: 118px;
    color: red;
    height: 3px;
    position: relative;
    bottom: 14px;
}

.orange{
    height: 156px;
    background-color: #FF851B;
}

.orange img{
    top: 37px;
    position: relative;
    left: 14px;
}

.orange p{
    font-size: 35px;
    color: #fff;
    font-weight: 500;
    margin-left: 448px;
    margin-top: -43px;
}


.orange button{
    border:solid 1px red;
    border-radius: 5px;
    color: #FF851B;
    background-color: #fff;
    position: relative;
    left: 1116px;
    bottom: 63px
}
    

.red1{
    height: 235px;
    background-color: red;
}

.red1 p{
    color: #fff;
    font-weight: bold;
    margin-left: 484px;
    margin-top: -204px;
    font-size: 19px;
}


.red1 #nso{
    position: relative;
    bottom: 206px;
    left: 472px;
}

.red1 button{
    border-radius: 5px;
    position: relative;
    bottom: 134px;
    left: 1120px;
    color: red;
    background-color: #fff;
}

.p1{
    font-size: 2.3em;
    font-weight: bold; 
}

.p2{
    font-size: 2em;
    font-weight: 500;
}

.blue_red img{
    height: auto;
    max-width: 100%;
    min-width: 0;
    outline: 0;
}

footer{
    background-color: #969595;
    height: auto;
    width: 100%;
    text-align: center;
}

footer  a{
    color: #fff;
    font-weight: bolder;
}

.texto{
    padding: 71px;
}

